<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Kitap Blog</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="~/css/styles.css" rel="stylesheet" />
</head>

<body>
  <!-- Responsive navbar-->
  @{
    await Html.RenderPartialAsync("_Navbar");
  }

  <!-- Page header with logo and tagline-->
  <header class="py-1 bg-light border-bottom mb-4">
    <div class="container">
      <div class="text-center my-5">
        <h1 class="fw-bolder">Kitap blog sayfama hoş geldiniz!</h1>
        <p class="lead mb-0">Kitapların dünyasına açılan pencere</p>
      </div>
    </div>
  </header>
  <!-- Page content-->
  <div class="container">
    <div class="row">
      <!-- Blog entries-->
      <div class="col-lg-8">@RenderBody()</div>
      <div class="col-lg-4">
        @*
        <div class="card mb-4">
        <div class="card-header">Search</div>
        <div class="card-body">
        <div class="input-group">
        <input
        class="form-control"
        type="text"
        placeholder="Enter search term..."
        aria-label="Enter search term..."
        aria-describedby="button-search"
        />
        <button
        class="btn btn-primary"
        id="button-search"
        type="button"
        >
        Go!
        </button>
        </div>
        </div>
        </div>
        *@ @await Component.InvokeAsync("Turler")
        @await Component.InvokeAsync("Yazarlar")
      </div>
    </div>
  </div>
  <!-- Footer-->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">
        Copyright &copy; Your Website 2022
      </p>
    </div>
  </footer>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="~/js/scripts.js"></script>
</body>

</html>
