@model books.Models.AdminViewModels.DillerVM

@{
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Dil Sil</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/Admin">Anasayfa</a></li>
          <li class="breadcrumb-item"><a href="/Admin/Diller">Diller</a></li>
          <li class="breadcrumb-item active">Dil Sil</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- /.col-md-6 -->
      <div class="col-lg-6">
        <div class="card card-info">
          <!-- /.card-header -->
          <div class="alert alert-danger text-center" role="alert">
            Gerçekten silmek istiyor musun?
          </div>
          <!-- form start -->
          @Html.AntiForgeryToken()
          <form class="form-horizontal" method="post" asp-controller="Admin" asp-action="DilSilOnay"
            asp-route-id="@ViewBag.DilBilgi.Id">
            <input asp-for="Id" type="hidden" value="@ViewBag.DilBilgi.Id" disabled />
            <div class="card-body">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Dil Adı</label>
                <div class="col-sm-10">
                  <input type="text" asp-for="DilAdi" class="form-control" style="cursor: not-allowed"
                    placeholder="Dil Adı" disabled value="@ViewBag.DilBilgi.DilAdi" />
                </div>
                <span asp-validation-for="DilAdi" class="text-danger ml-2 mt-2"></span>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <a href="/Admin/Diller" class="btn btn-default">Vazgeç</a>
              <button type="submit" class="btn btn-danger float-right">
                Sil
              </button>
            </div>
            <!-- /.card-footer -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
