@model books.Models.AdminViewModels.UsersVM

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Kullanıcı Ekle</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin">Anasayfa</a></li>
                    <li class="breadcrumb-item"><a href="/Admin/Kullanicilar">Kullanıcılar</a></li>
                    <li class="breadcrumb-item active">Kullanıcı Ekle</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">

            <!-- /.col-md-6 -->
            <div class="col-lg-6">

                <div class="card card-info">
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class="form-horizontal" method="post">
                        @Html.AntiForgeryToken()
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Kullanıcı Adı</label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="Username" class="form-control"
                                        placeholder="Kullanıcı Adı">
                                </div>
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Şifre</label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="Password" class="form-control" placeholder="Şifre">
                                </div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <a href="/Admin/Kullanicilar" type="submit" class="btn btn-default">Vazgeç</a>
                            <button type="submit" class="btn btn-success float-right">Ekle</button>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>